<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js')}}"></script>
<script src="{{ url_for('static', filename='js/angular.js') }}"></script>
<script src="{{ url_for('static', filename='js/mdb.js') }}"></script>
<script src="{{ url_for('static', filename='js/angular-sanitize.js')
        }}"></script>
<script src="{{ url_for('static', filename='js/angular-animate.js')
        }}"></script>
<script src="{{ url_for('static', filename='js/ngToast.js') }}"></script>
<script src="{{ url_for('static', filename='js/task.js') }}"></script>
<script src="{{ url_for('static', filename='js/angular-datepicker.js')
        }}"></script>
<script href="https://cdnjs.com/libraries/1000hz-bootstrap-validator"></script>
<script>
    $(function(){
        if (window.location.pathname == '/doc'){
            $("#task-creation").hide();
        } else {
            $("#task-creation").show();
        }
    });
</script>
</body>
</html>