{% include 'header.html' %}

<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Task Management App</h1>
    <p class="lead">This is a simple task management app for CRUD operations
        on tasks. The tasks can also be listed. Filters like end-date before
        a given date, list created after a given date can be applied as well.
    </p>
  </div>
</div>
<div class="container">
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <div class="collapse navbar-collapse" id="navPages">
      <i class="fa fa-bars" ng-click="listTasks()" data-toggle="tooltip"
         data-placement="top" title="List all tasks" onmouseover=""
         style="cursor: pointer;"></i>
  </div>
  <div class="navbar-right" id="task-list-date-range">
      <button type="button" class="btn btn-primary btn-default" data-toggle="modal"
              data-target="#listRange">Date Range Search</button>
  </div>
</nav>
</div>
<!-- Card display -->
<div class="container">
    <div class="row">
        <div ng-repeat="task in tasks" class="col-sm-3">
            <div class="card">
                <div class="card-header">
                    <h3 id="#tName" class="card-title">{a task.task_name a}</h3>
                </div>
                <div class="card-block">
                    <p id="tDesc" class="card-text">{a task.task_description
                        a}</p>
                    <p id="tID" class="card-text">{a task.task_id a}</p>
                    <p id="tCD" class="card-text">{a task.task_create_date
                        a}</p>
                    <p id="tED" class="card-text">{a task.task_end_date a}</p>
                    <p id="tOwn" class="card-text">{a task.task_owner a}</p>
                </div>
                <div class="card-footer">
                    <i class="fa fa-pencil" ng-click="getTask(task.task_id)"
                       data-toggle="modal"
                       data-target="#updateTask"
                       data-placement="top" title="Edit Task"
                        onmouseover="" style="cursor: pointer;"></i>
                    &nbsp;&nbsp;
                    <i class="fa fa-trash-o"
                       ng-click="getTask(task.task_id)" data-toggle="modal"
                       data-target="#deleteTask"
                       data-placement="top" title="Delete Task"
                       onmouseover="" style="cursor: pointer;"></i>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'modals.html' %}
{% include 'footer.html' %}