{% include 'header.html' %}
<body>
 <header class="intro" id="ip-intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">IdeasPlatter</h1>
                        <p class="intro-text">Where ideas connect people....</p>
                        </br>
                        <!-- removed the form -->
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About IdeasPlatter</h2>
                <p>IdeasPlatter came as a concept to help exchange and work on startup ideas together. "Together we progress" is the driving factor for IdeasPlatter.</p>
                <p>Ideas are not unique, the way of execution is. When right people come together to work on a common idea they had, a better product/service can be built in lesser time.</p>
                <p>Other than already daunting problems in startup scene, another burden people end up battling is competition. IdeasPlatter, will serve to connect people with similar ideas.</p>
                <p>An idea can be enhanced and moulded with people of similar interests contributing towards achieving a single goal, than getting stuck competing.</p>
            </div>
        </div>
        <a href="#contact" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
        </a>
    </section>
     </br></br></br></br>
    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
       <div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Special title treatment</h3>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">Special title treatment</h3>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
    </section>
{% include 'footer.html' %}
</body>
</html>